


.join-btn{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;


    
}

.join-btn:hover{
    opacity: 1;
    text-decoration:underline;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: 3s;

}

.subscribe-btn {
    background-color: black;
    color: white;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 20px;
    
}







.subscribe-btn:hover{
    opacity: 0.89;
    text-decoration:underline;
    cursor: pointer;

    
}


.getitnow-btn{
    background-color: lightslategray;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;


    
}

.getitnow-btn:hover{
    opacity: 2;
    text-decoration:underline;
    cursor: pointer;
    border: none;
    

}